<span *ngIf="!gameboy.isRomLoaded()">
    Please load a ROM first
</span>

<nz-input-group *ngIf="gameboy.isRomLoaded()" class="disassembler-control" nzAddOnBefore="Jump to address" nzPrefix="0x"
    [nzSuffix]="addressJumpTemplate" nzSize="small">
    <input #addressJumpInput type="text" maxlength="4" nz-input
        (keydown.enter)="scrollToAddress(addressJumpInput.value)" />
    <ng-template #addressJumpTemplate>
        <button nz-button (click)="scrollToAddress(addressJumpInput.value)">
            <i nz-icon nzType="search" nzTheme="outline"></i>
        </button>
    </ng-template>
</nz-input-group>

<div *ngIf="gameboy.isRomLoaded()">
    <div class="disassembler-control">
        <span class="monospace">PC</span>: <span class="monospace">{{ getPc() | toBaseString: 16 : 16 }}</span>
        <button nz-button class="breakpoint-control-button" (click)="scrollToPc()">
            <i nz-icon nzType="search" nzTheme="outline"></i> Scroll to PC
        </button>
    </div>
</div>

<div *ngIf="gameboy.isRomLoaded() && breakpointInstruction !== null">
    <div class="disassembler-control">
        Breakpoint address: <span class="monospace">{{ breakpointInstruction.address | toBaseString: 16 : 16 }}</span>
    </div>
    <div class="disassembler-control">
        <button nz-button class="breakpoint-control-button" (click)="scrollToBreakpoint()">
            <i nz-icon nzType="search" nzTheme="outline"></i> Scroll to breakpoint
        </button>
        <button nz-button class="breakpoint-control-button" [disabled]="gameboy.isPlaying()"
            (click)="runToBreakpoint()">
            <i nz-icon nzType="caret-right" nzTheme="outline"></i> Run to breakpoint
        </button>
        <button nz-button class="breakpoint-control-button" (click)="clearBreakpoint()">
            <i nz-icon nzType="close" nzTheme="outline"></i> Clear breakpoint
        </button>
    </div>
</div>

<nz-table #disassembled *ngIf="gameboy.isRomLoaded()" [nzData]="disassembledInstructions" [nzScroll]="{ y: '400px' }"
    nzFrontPagination="false" nzShowPagination="false" [nzVirtualItemSize]="54" [nzVirtualMaxBufferPx]="800"
    [nzVirtualMinBufferPx]="400">
    <thead>
        <tr>
            <th>Breakpoint</th>
            <th>Address</th>
            <th>Instruction</th>
            <th>Opcode</th>
            <th>Arguments</th>
        </tr>
    </thead>
    <tbody>
        <ng-template nz-virtual-scroll let-data let-index="index">
            <tr [ngClass]="{ 'pc-row': data.address === getPc(), 'monospace': true }">
                <td>
                    <button *ngIf="data.address !== breakpointInstruction?.address" nz-button nzType="text"
                        (click)="setBreakpoint(index)">
                        <i nz-icon nzType="pause-circle" nzTheme="outline"></i>
                    </button>
                    <button *ngIf="data.address === breakpointInstruction?.address" nz-button nzType="text"
                        (click)="clearBreakpoint()">
                        <i nz-icon nzType="close-circle" nzTheme="twotone" nzTwotoneColor="#f5222d"></i>
                    </button>
                </td>
                <td>
                    {{ data.address | toBaseString: 16 : 16 }}
                </td>
                <td>
                    {{ data.instructionName }}
                </td>
                <td>
                    {{ data.opcode | toBaseString: 16 : 8 }}
                </td>
                <td>
                    {{ data.args | toBaseString: 16 : 16 }}
                </td>
            </tr>
        </ng-template>
    </tbody>
</nz-table>