<div>
    <app-gameboy #gameboy></app-gameboy>
</div>
<div>
    <button (click)="openSelectRomDialog()">Select ROM
        <input #fileInput type="file" style="display:none" (change)="handleChange($event)">
    </button>

    <button *ngIf="gameboy.isRomLoaded()" (click)="gameboy.reset()">
        Stop
    </button> <br />

    <div *ngIf="gameboy.isRomLoaded()">
        <button [disabled]="!gameboy.isPaused()" (click)="gameboy.resume()">
            Resume
        </button>
        <button [disabled]="!gameboy.isPlaying()" (click)="gameboy.pause()">
            Pause
        </button>
    </div>
</div>