.logo {
  color: white;
  font-weight: 700;
}

[nz-menu] {
  line-height: 64px;
}

nz-content {
  padding: 32px 50px;

  @media (max-width: 767px) {
    padding: 32px 0;
  }
}

nz-footer {
  text-align: center;
}

.inner-content {
  background: #fff;
  margin-left: auto;
  margin-right: auto;
  padding: 32px;
  width: 100%;
  min-height: calc(100vh - 198px);
  text-align: center;

  @media (max-width: 767px) {
    padding: 32px 12px;
  }

  @media (min-width: 992px) {
    width: 960px;
  }

  @media (min-width: 1200px) {
    width: 1140px;
  }
}

.rom-select {
  display: inline-block;
  margin-top: 8px;
}

.gb-control {
  width: initial;
  margin-bottom: 8px;
}
