<nz-layout>
    <nz-header>
        <ul nz-menu nzTheme="dark" nzMode="horizontal" nzSelectable="false">
            <li nz-menu-item class="logo">
                <i>{{ "AngularGB" | stringOnMobile: "AGB" }}</i>
            </li>
            <li nz-submenu [nzTitle]="'Debug' | stringOnMobile" nzIcon="bug">
                <ul>
                    <li nz-submenu nzTitle="CPU">
                        <ul>
                            <li nz-menu-item (click)="openDebugWidget(CPU_STATE_WIDGET)">State</li>
                            <li nz-menu-item (click)="openDebugWidget(DISASSEMBLER_WIDGET)">Disassembler</li>
                        </ul>
                    </li>
                    <li nz-submenu nzTitle="Memory">
                        <ul>
                            <li nz-menu-item (click)="openDebugWidget(MEMORY_STATE_WIDGET)">State</li>
                        </ul>
                    </li>
                    <li nz-submenu nzTitle="Graphic">
                        <ul>
                            <li nz-menu-item (click)="openDebugWidget(GPU_STATE_WIDGET)">GPU State</li>
                            <li nz-menu-item (click)="openDebugWidget(BG_MAP_WIDGET)">Background Map</li>
                            <li nz-menu-item (click)="openDebugWidget(TILE_DATA_WIDGET)">Tile Data</li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li nz-menu-item>
                <i nz-icon nzType="github" nzTheme="outline"></i> {{ "About" | stringOnMobile }}
            </li>
        </ul>
    </nz-header>

    <nz-content>
        <div class="inner-content">
            <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }" nzJustify="space-around">
                <div nz-col [nzSpan]="24" [nzLg]="12">
                    <app-gameboy #gameboy [isDebugging]="isDebugging()"></app-gameboy> <br />

                    <nz-upload class="gb-control rom-select" nzAction="/intercepted" nzShowUploadList="false"
                        [(nzFileList)]="fileList" (nzChange)="handleChange($event)">
                        <button nz-button>
                            <i nz-icon nzType="upload"></i>Select ROM
                        </button>
                    </nz-upload> <br />

                    <nz-button-group class="gb-control">
                        <button nz-button [disabled]="!gameboy.isPaused()" (click)="gameboy.resume()">
                            <i nz-icon nzType="caret-right" nzTheme="outline"></i>
                        </button>
                        <button nz-button [disabled]="!gameboy.isPlaying()" (click)="gameboy.pause()">
                            <i nz-icon nzType="pause" nzTheme="outline"></i>
                        </button>
                    </nz-button-group> <br />

                    <nz-input-group *ngIf="isDebugging()" class="gb-control" nzPrefix="Skip steps"
                        [nzSuffix]="stepTemplate">
                        <nz-input-number [(ngModel)]="skipStepCnt" [nzDisabled]="!gameboy.isPaused()" [nzMin]="1"
                            [nzStep]="1">
                        </nz-input-number>
                        <ng-template #stepTemplate>
                            <button nz-button [disabled]="!gameboy.isPaused()" (click)="gameboy.step(skipStepCnt)">
                                <i nz-icon nzType="step-forward" nzTheme="outline"></i>
                            </button>
                        </ng-template>
                    </nz-input-group> <br />

                    <nz-input-group *ngIf="isDebugging()" class="gb-control" nzPrefix="Skip frames"
                        [nzSuffix]="stepTemplate">
                        <nz-input-number [(ngModel)]="skipFrameCnt" [nzDisabled]="!gameboy.isPaused()" [nzMin]="1"
                            [nzStep]="1">
                        </nz-input-number>
                        <ng-template #stepTemplate>
                            <button nz-button [disabled]="!gameboy.isPaused()" (click)="gameboy.frame(skipFrameCnt)">
                                <i nz-icon nzType="fast-forward" nzTheme="outline"></i>
                            </button>
                        </ng-template>
                    </nz-input-group>
                </div>

                <div *ngIf="isDebugging()" nz-col [nzSpan]="24" [nzLg]="12">
                    <span *ngIf="!gameboy.isRomLoaded()">
                        Please load a ROM first
                    </span>
                    <div *ngIf="gameboy.isRomLoaded()">
                        <app-cpu-state *ngIf="currentDebugWidget === CPU_STATE_WIDGET" [gameboy]="gameboy">
                        </app-cpu-state>
                        <app-disassembler *ngIf="currentDebugWidget === DISASSEMBLER_WIDGET" [gameboy]="gameboy">
                        </app-disassembler>
                        <app-memory-sampler *ngIf="currentDebugWidget === MEMORY_STATE_WIDGET" [gameboy]="gameboy">
                        </app-memory-sampler>
                        <app-gpu-state *ngIf="currentDebugWidget === GPU_STATE_WIDGET" [gameboy]="gameboy">
                        </app-gpu-state>
                        <app-bg-map-viewer *ngIf="currentDebugWidget === BG_MAP_WIDGET" [gameboy]="gameboy">
                        </app-bg-map-viewer>
                        <app-tile-data-viewer *ngIf="currentDebugWidget === TILE_DATA_WIDGET" [gameboy]="gameboy">
                        </app-tile-data-viewer>
                    </div>
                </div>
            </div>
        </div>
    </nz-content>

    <nz-footer>
        AngularGB
    </nz-footer>
</nz-layout>